body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f0ec;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-container {
  padding: 0 5vw;
}

section {
  padding: 100px 0;
}

.section-header {
  margin-bottom: 50px;
}

li {
  list-style: none;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #191919;
  color: #dbd8d6
}

.loader-container h1 {
  font-size: 1.5vw;
  font-family: serif;
  text-transform: uppercase;
  font-weight: 600;
}

.loader-container h2 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 10px;
}

.l-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #111;
  z-index: 1;
}